= form_for @search, url: url, method: :get do |f|

  %fieldset
    = f.label      :title_like
    = f.text_field :title_like

  %fieldset
    = f.label      :author_name_like
    = f.text_field :author_name_like

  %fieldset
    = f.label   :category_in
    = f.select  :category_in, categories_collection, {include_blank: true}, multiple: true

  %fieldset
    = f.label   :author_also_wrote_in_category_id
    = f.select  :author_also_wrote_in_category_id, categories_collection, include_blank: true

  %fieldset
    = f.label   :board_book
    = f.check_box  :board_book

  %fieldset
    = f.label   :in_print
    = f.select  :in_print, [["Yes", true], ["No", false], ["Either", "either"]]

  %button{type: :reset} Clear
  = f.submit 'Search'
