= form_tag url, method: :get do

  = fields_for :book_search do |f|

    %fieldset
      = f.label      :title_like
      = f.text_field :title_like, value: @search_params[:title_like]

    %fieldset
      = f.label      :author_name_like
      = f.text_field :author_name_like, value: @search_params[:author_name_like]

    %fieldset
      = f.label   :category_in
      = f.select  :category_in, categories_collection, {include_blank: true, selected: @search_params[:category_in]}, multiple: true 

    %fieldset
      = f.label   :author_also_wrote_in_category_id
      = f.select  :author_also_wrote_in_category_id, categories_collection, include_blank: true, selected: @search_params[:author_also_wrote_in_category_id]

    %fieldset
      = f.label   :board_book
      = f.check_box  :board_book, checked: @search_params[:board_book] == "1"

    %fieldset
      = f.label   :in_print
      = f.select  :in_print, [["Yes", true], ["No", false], ["Either", "either"]], selected: @search_params[:in_print]


    %button{type: :reset} Clear
    = f.submit 'Search'
